#navbar {
  display: flex;
 justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  margin-top:0;
  top:0px;
  right:0px;
  width: 100%;
  height: auto;
  padding:0;
  background-color:white;
  box-shadow: 0 5px 4px rgba(0,0,0,0.5);
}

#logo {
  justify-content: flex-start;
  position: fixed;
  left:10px;
  width:55px;
  height:auto;
  padding: 7px 0;
  border-radius: 50%;
  z-index: 150;
}


.nav__list {
  justify-content: center;
  list-style:none;
}

.nav__item {
  display: inline-block;
  font-family:'Poppins', sans-serif;
  justify-content: space-between;
  margin: 0 50;
}

.nav__link {
  display: inline-block;
  color: black;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight:bold;
  font-size: 14px;
}


.nav__link:hover {
  color:white;
  border-radius:20px;
  transition:0.2s;
  background-color:rgb(198,115,99);
  box-shadow: 0 5px 4px rgba(0,0,0,0.5);
}


.burger {
  display: block;
  justify-content: flex-end;
  position: fixed;
  right:1.5%;
}

.burger div{
  justify-content: flex-end;
  align-items: center;
  width: 25px;
  height: 3px;
  background-color: rgb(198,115,99); 
  margin:5px;
}

/*.burger {
  display:none;
}*/

@media screen and (max-width:768px){
  body{
    display:none;
  }
}


body {
  font-family:'Poppins', sans-serif;
  align-items: center;
  background: #d4a299;
  text-align:center;
  font:black;
  
}

#welcome-section {
  background:white;
  align-items: center;
  text-align:center;
  margin-top: 14%;
  padding-top: 0px;
  padding-bottom: 100px;
}


#welcome-section span {
  font-family:'Poppins', sans-serif;
  font-style: italic;
  color: rgb(198,115,99); 
}

h1 {
  padding-top:100px;
  font-size: 50px;
}

h2 {
  font-size: 22px;
  margin:0%;
}

h3 {
  font-size: 22px;
  padding-bottom: 100px;
}

#projects {
  margin-top: 10%;
}

.section__title {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  padding:150px 0 0;
  position: relative;
  font-family:'Poppins', sans-serif;
  text-transform:uppercase;
  font-size: 3.3vw;
  color:  #d4a299;
  -webkit-text-stroke: 0.10vw white;
  box-shadow: 10px 10px 10px 0px;
  z-index: -1;
}

/*.section__title::before {
  content: attr(data-text);
  position: absolute;
  padding: 150px 0 0;
  top:0;
  justify-content: center;
  width:0;
  height:10%;
  color: #d4a299;
  -webkit-text-stroke:0.10vw white;
  white-space:nowrap;
  border-right: 2px solid rgb(198,115,99);
  line-height: 5%;
  overflow: hidden;
  animation: animate 14s linear infinite;
}

@keyframes animate 
{
  0%,10%
   {
    width:0;
  }
  70%,90%
   {
    width:100%;
  }
}*/


.project-tile {
margin-top: 100px;
font-family:'Poppins', sans-serif;
color: #d4a299;
font-size: 14vw;
-webkit-text-stroke: 0.10vw white;
text-transform:uppercase;
letter-spacing: 6px;
padding:40px;
background-color:#d4a299; 
}


.project-tile img {
size: 10vw;
height: auto;
width: 200px;
}

.main {
  max-width: 1000px;
  margin: auto;
}

.row {
  margin:20px -16px;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear:both;   
}


@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.container {
  display: flex;
  align-items: center;
}

.section__title2 {
  display: flex;
  box-sizing: border-box;
  font-family:'Poppins', sans-serif;
  position: relative;
  text-transform:uppercase;
  justify-content: center;
  font-size: 3.3vw;
  padding:90px 0 50px;
  color:  #d4a299;
  -webkit-text-stroke: 0.10vw white;
  box-shadow: 10px 10px 10px 0px;
  z-index: -1;
}

.photo-myself img {
  display:flex;
  position: absolute;
  left: 16%;
  flex: 2 2 10em;
  margin-top:-8%;
  padding-top: 0%;
  width:315px;
  z-index: -1;
  height:auto; 
  box-shadow: 0 5px 4px rgba(0,0,0,0.5);
  border-radius: 10px;
}

.about-me__body {
  display:flex;
  justify-content: flex-end;
  text-emphasis: wrap;
  position: relative;
  flex-basis: auto;
  flex: 3 3 10em;
  left: 25%;
  max-width: 600px;
  height: auto;
  font-family:'Poppins', sans-serif;
  font-size: 12pt;
  margin: 130px 100px 0px 200px;
  padding: 0px 60px;
  text-align: justify;
  color: white;
  background-color: #171515;
  box-shadow: 0 5px 4px rgba(0,0,0,0.5);
  border-radius: 20px;
  z-index: -1;
}

.contact-me {
  color: black;
  justify-content: center;
  letter-spacing:2px;
  text-transform: uppercase;
  margin-top:250px;
  padding-top:50px;
  background-color: white;
}

.contact-me h3 {
font-size: 14pt;
letter-spacing: 9px;
margin-bottom:20px;
padding-bottom:20px;
}

.footer {
padding-bottom:50px;
margin-bottom:50px;
align: center;
}

.footer__link {
  text-align: center;
  color: black;
  font-size: 14px;
  text-transform: lowercase;
  font-weight: bold;
  text-decoration: none;
  margin-top:10px;
}

.footer__link:hover {
  padding: 10px;
  border-radius: 20px;
  transition:0.2s;
  background-color: rgb(198,115,99);
  box-shadow: 0 5px 4px rgba(0,0,0,0.5);
  color: white; 
}

.social-list {
  list-style: none;
  margin: 0 15px;
}

.social-list__item {
  display: inline-block;
  justify-content: center;
  margin-right: 40px;
  padding-top: 24px;
  padding-bottom:0px;
}

.social-list__link .fa{
  font-size: 30px;
  line-height: 60px;
  width: 60px;
  border-radius:50%;
  transition:0.6s;
  color:black;
}

.social-list__link {
  position: relative;
  display: block;
  width: 60px;
  height:60px;
  border-radius:50%;
  background-color:white;
  text-align:center;
  transition:0.6s;
  box-shadow: 0 5px 4px rgba(0,0,0,0.5);
}

.social-list__link:hover {
  transform: translate(0, -10px);
}

.social-list__item:nth-child(1) .social-list__link:hover {
  background-color: #0077B5;
}

.social-list__item:nth-child(2) .social-list__link:hover {
  background-color: #171515;
}

.social-list__item:nth-child(3) .social-list__link:hover {
  background-color: #ea4c89;
}

.social-list__item:nth-child(4) .social-list__link:hover {
  background-color: #212121;
}

.social-list__item .social-list__link .fa:hover {
  color: white;
}

